name: verify
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm ci --ignore-scripts
      - name: Run ES Lint
        run: npm run lint
